@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --br: 15px;
  --text: #eaeee3;
  --background: #070a05;
  --primary: #c2cfb0;
  --secondary: #396047;
  --accent: #73ab98;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #181c11;
    --background: #f7faf5;
    --primary: #424f30;
    --secondary: #9fc6ad;
    --accent: #548c79;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  /* font-size: clamp(10px, 4vw, 64px); */
  font-size: 3.366rem;

  position: relative;
  left: -64px;
  opacity: 0;
  animation: slide-in 1.5s 0.5s forwards ease-out;
}

h2 {
  font-size: 2.525rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.894rem;
  margin-bottom: 0.5rem;
}

a {
  color: var(--accent);
}

li {
  margin-bottom: 1rem;
}

header {
  display: flex;
  width: 90vw;
  margin: 0px;
  align-items: center;

  &>h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0px;
    color: var(--primary);
  }

  &>a {
    color: var(--primary);
    text-decoration: none;
    margin: 0px;

    &>h2 {
      font-size: 22px;
      margin: 0px;
      color: var(--secondary);

      &::first-line {
        color: var(--primary);
      }
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  color: var(--background);
  background-color: var(--accent);
  border-radius: var(--br);
  padding: 12px;
  text-decoration: none;
  font-weight: 600;
  transition-duration: 0.3s;
  border: solid var(--accent) 3px;

  position: relative;
  left: -64px;
  opacity: 0;
  animation: slide-in 1.5s 1s forwards ease-out;

  &:hover {
    background-color: var(--background);
    color: var(--accent);
    padding: 12px 24px;
  }
}

.hero {
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 64px 64px;
  margin: auto;
  margin-top: 48px;
  width: 75vw;
  height: 128px;
  box-shadow: rgb(0, 181, 122, 0.7) 0px 0px 40px 20px;
  border-radius: var(--br);
  background:
    linear-gradient(-45deg, var(--background) 50%, rgba(0, 0, 0, 0.6)),
    url("../img/noise.svg");

  &>h1 {
    text-align: center;
    margin-top: 0px;
    position: relative;
  }
}

@keyframes slide-in {
  to {
    left: 0px;
    opacity: 1;
  }
}

.title {
  background-color: var(--background);
  border-radius: var(--br);
  box-shadow: rgb(0, 181, 122, 0.7) 0px 0px 40px 20px;
  background:
    linear-gradient(-45deg, var(--background) 50%, rgba(0, 0, 0, 0.6)),
    url("../img/noise.svg");
  width: 80vw;
  margin: auto;
  text-align: center;
  padding: 16px 32px;
}

.abstract {
  text-align: center;
  margin: 64px 5vw;
}

.text-img {
  margin: 64px clamp(1px, 4vw, 40px);
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 16px;

  &>.img {

    &>img,
    &>p {
      width: clamp(10px, 90vw, 480px);
      height: auto;
      border-radius: var(--br);
    }
  }

  &>.text {
    width: clamp(10px, 90vw, 480px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &>p {
      text-align: justify;
    }

    &>p,
    &>h2 {
      margin-top: 0px;
    }
  }
}

.alt {
  filter: brightness(80%);
  font-size: 14px;
}

#three {
  width: 80vw;
  height: 25rem;
  margin: auto;
}
