<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ondernemerschap</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="title">Ondernemerschap</h1> 
    <p class="abstract">Is een modulair economisch model haalbaar voor bedrijven? Of is het enkel
    mooi op papier? Zeker niet! Er zijn tal van voorbeelden van hoe bedrijven op een duurzame manier
    modulariteit implementeren in hun design, en hoe deze designs economisch voordelig zijn.</p>
    <h2>Lineaire economie</h2>
    <div class="text-img">
    <p>Vele hedendaagse bedrijven zijn gefocust op een zeer lineair model van werken. Wanneer je een
    toestel aankoopt en deze gaat stuk, wordt verwacht dat je een nieuw toestel koopt en het oude in
    de vuilbak gooit. Hierdoor is er vaak gebrek aan documentatie en reserveonderdelen om zelf
    apparaten te herstellen. Sommige bedrijven maken het zelfs extra moeilijk om defecte apparaten
    te repareren door het gebruik van permanente lijmen om componenten te bevestigen (om herstel
    lastiger te maken) of het gebruiken van zogenaamde “one-way screws” die gemaakt zijn om vast te
    draaien en daarna nooit meer los te komen.<br><br>
    Een voorbeeld van een dergelijk bedrijf is het welbekende Apple. Zij staan bekend om hun bijna
    onherstelbare producten. Is je scherm beschadigd? Dan ben je beter af om een nieuwe laptop te kopen
    dan de oude te laten repareren. Dat zal je echter goedkoper uitkomen. RAM-geheugenmodules worden
    vastgesoldeerd aan het moederbord en batterijen worden permanent vastgelijmd aan het frame. Dit
    maakt reparatie niet enkel lastig en duur, maar in vele gevallen zelfs praktisch ondoenbaar</p>
    <div class="img">
      <img src="/img/ondernemerschap/laptop.png" alt='Binnenkant van een 16" Macbook Pro
    (www.ifixit.com). Merk op hoe de batterij uit 6 verschillende gelijmde cellen bestaan, wat
    herstel lastig maakt. Om een idee te krijgen hoe moeilijk het is om een de batterij van deze
    laptop te vervangen, is hier (embedded link:
    https://www.ifixit.com/Guide/MacBook+Pro+16-Inch+Late+2023+Battery+Replacement/167351) een link
    naar een gids die deze operatie stap voor stap uitlegt.'>
      <p class="alt">Binnenkant van een 16" Macbook Pro
    (www.ifixit.com). Merk op hoe de batterij uit 6 verschillende gelijmde cellen bestaan, wat
    herstel lastig maakt. Om een idee te krijgen hoe moeilijk het is om een de batterij van deze
    laptop te vervangen, is 
    <a href="https://www.ifixit.com/Guide/MacBook+Pro+16-Inch+Late+2023+Battery+Replacement/167351">hier</a>
    een link naar een gids die deze operatie stap voor stap uitlegt.</p>
    </div>
  </body>
</html>
